{% include "header.html" %} {% autoescape off %}
<div>
<div class="content-wraper pt-30 pb-60">
<div class="container">
<h6>Актуальная контактная информация</h6>
<div class="p-3">
<blockquote><strong>Основной сайт:<br></strong>
<a href="">https://blacksprut.com/contact</a><br>
<a href="">https://blacksprut.net/contact</a><br>
</blockquote>
<blockquote><strong>Tor </strong><strong><strong>Зеркала</strong>:<br></strong><a href="">http://bsbotnetzdxficaz7uffowuclqr2unjvxufj7g7uqq72xzpl4cbvr6ad.onion</a><br><a href="">http://bsbotnetbkbbd2vk54kbcbv7bu7ofpwun25imyzz3sthxdf2l2sltayd.onion/</a><br><a href="">http://bsbotnetifqt7xajyyi26pjynqtviomoofwf4m5aaw25sn2ocgv7beyd.onion</a><br><a href="">http://blackh5vg6ywvezawu7lhelvm5b6l2a2tvunabku26l7bkc2zmy65had.onion</a></blockquote>
<blockquote><strong>Бот Lurkchat:<br></strong><a href="">https://lurkchat.com/to/bsbot</a><br><br><strong>Боты Telegram:</strong><br><a href="">https://t.me/blacksprut0240bot</a><br><a href="">https://t.me/blacksprut0250bot</a><br>
</blockquote></div>
</div>
</div>
</div>
{% endautoescape %}{% include "footer.html" %}