{% include "header.html" %} {% autoescape off %}
<div>
<div class="container">
<h2>Реклама</h2>
<div class="card">
<div class="card-body">
<div class="row">
<div class="col-12">
<p>Возможно размещение ваших баннеров в шапке торговой площадки и на отдельных, нужных для вас страницах сайта.&nbsp;</p>
<p>Необходимо оставить заявку в поддержку и описать что и где вы хотите разместить. После одобрения, вам выдадут размеры и инструкции,</p>
<p>для размещения вашей рекламы</p>
</div>
</div>
</div>
</div>
</div>
</div>

{% endautoescape %}{% include "footer.html" %}