{% include "header.html" %} {% autoescape off %}

<div>
<div class="container">
<h2>Как создать магазин ?</h2>
<div class="card">
<div class="card-body">
<div class="row">
<div class="col-12">
<p>В данном разделе описаны шаги открытия магазина на торговой площадке <strong>BLACKSPRUT.</strong></p>
<p>Для начала зарегистрируйте аккаунт, перейдя по адресу <a href="{% url 'register' %}">https://blacksprut.com/register</a></p>
<ol>
<li>Придумайте логин (нужен для авторизации, никому не виден)</li>
<li>Придумайте юзернейм (нужен для отображения в отзывах, виден всем)</li>
<li>Придумайте пароль</li>
</ol>
<p>Перейдите в личный кабинет в раздел поддержки по адресу <a href="{% url 'tickets' %}">https://blacksprut.com/account/tickets</a></p>
<p>Нажмите создать тикет и отправьте его, пример:&nbsp;</p>
<p><img src="./how_to_createt_files/HdxD5JF6dTg1BKymKlWaro4PiWzpY6mXi3ZC6ees.png" alt="" width="475" height="200"></p>
<p>После создания тикета, дождитесь одобрения модератора ресурса. После одобрения, модератор выдаст вам права для доступа в админку:</p>
<p><img src="./how_to_createt_files/ZUGC859h2sW8MfaZxs2mS2xZGWCaeAsU2D8kLP6g.png" alt="" width="213" height="265"></p>
<p>После перехода в админку, слева появится меню, перейдите в раздел <strong>Магазин</strong> и нажмите <strong>Добавить магазин.</strong></p>
<p>После заполнения всех нужных полей, создайте магазин, по необходимости добавьте ботов Telegram и Lurkchat.com.</p>
<p>Домен в сети <strong>ТОР</strong> генерируется автоматически. Если вы хотите добавить свой домен, напишите в поддержку и модераторы ресурса дадут вам инструкции!</p>
</div>
</div>
</div>
</div>
</div>
</div>
{% endautoescape %}{% include "footer.html" %}
