{% include "header.html" %} {% autoescape off %}

<div>
<div class="container">
<h2>Гарант</h2>
<div class="card">
<div class="card-body">
<div class="row">
<div class="col-12">
<p>В данный момент на площадке BLACKSPRUT доступно два вида гарантов при покупке.&nbsp;</p>
<ol>
<li>Автогарант - возможность открыть диспут в течении 24 часов, с момента покупки товара, пригласить модератора в чат и решить диспут.&nbsp;</li>
<li>Гарант + - возможность открыть диспут в течении 72 часов, с момента покупки товара, включает все функции автогаранта. Оплачивается при покупке.</li>
<li>Гарант премиум - в данный момент ведется разработка данного функционала, даст возможность модератору контролировать получения товара покупателем, с момента оплаты товара.</li>
</ol>
</div>
</div>
</div>
</div>
</div>
</div>

{% endautoescape %}{% include "footer.html" %}