{% include "header.html" %} {% autoescape off %}
<div>
<div class="container">
<h2>Пополнение</h2>
<div class="card">
<div class="card-body">
<div class="row">
<div class="col-12">
<p>Торговая площадка BLACKSPRUT использует bitcoin для оплаты и пополнения.&nbsp;</p>
<p>Перейдите в личный кабинет, в раздел&nbsp;<strong>Личные данные,&nbsp;</strong>нажмите кнопку пополнить баланс.&nbsp;</p>
<p>На каждое пополнение выдается новый кошелек, у вас есть 15 минут на пополнение. Подтверждение в сети не учитываются,&nbsp;</p>
<p>как только транзакция появится в блокчейне, баланс пополнится.&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</div>
</div>
</div>
</div>
</div>
</div>

{% endautoescape %}{% include "footer.html" %}