{% include "header.html" %} {% autoescape off %}
{% load custom_filter %}
{% include "main/top_store/top_store_asset.html" %}
        
        <div class="body-wrapper">
            

            
            <div>
                    

    <div class="content-wraper pt-30 pb-60">
        <div class="container">
            

            <section class="product-area li-laptop-product pt-30">
                <div class="container">
                    <div class="row">
                        <div class="p-0 px-sm-3 col-lg-12">
                            <div class="li-section-title">
                                <h2><span>    Отзывы
</span></h2>
                            </div>
                            <div class="p-0 p-sm-3">
                                    <form action="https://vdb.bsbot.ltd/stores/20/reviews" class="mb-3">
        <div class="d-flex">

            <select class="filter-input ml-1" name="product">
                <option value="">Выберите товар</option>
                                    <option value="88">
                        CRYSTAL WHITE ДЖАНКОЙ
                    </option>
                                    <option value="174">
                        Краснодар Акулий СК HQ
                    </option>
                                    <option value="176">
                        Стерлитамак Акулий СК HQ
                    </option>
                                    <option value="178">
                        Астрахань Акулий СК HQ
                    </option>
                                    <option value="182">
                        Астрахань Акулий СК HQ
                    </option>
                                    <option value="192">
                        КРАСНОДАР МЕФ
                    </option>
                                    <option value="232">
                        Cтаврополь Акулий Меф HQ
                    </option>
                                    <option value="274">
                        Усть-Джегута Акулий СК
                    </option>
                                    <option value="292">
                        Астрахань МЕФ 2г.
                    </option>
                                    <option value="303">
                        АСТРА-КРИСТАЛЛЫ
                    </option>
                                    <option value="365">
                        Астрахань Меф(Мука)
                    </option>
                                    <option value="425">
                        СКОРОСТЬ NEW CRYSTAL ASTRA
                    </option>
                                    <option value="499">
                        Усть Джугута Акулий Ск
                    </option>
                                    <option value="535">
                        МЕФЕДРОН СИМФЕРОПОЛЬ
                    </option>
                                    <option value="576">
                        ОМСК CRYSTAL
                    </option>
                                    <option value="622">
                        Волгоград Соль Кристалл
                    </option>
                                    <option value="701">
                        СКОРОСТЬ СИМФЕРОПОЛЬ!
                    </option>
                                    <option value="708">
                        КЕРЧЬ АКУЛИЙ СК 0.5
                    </option>
                                    <option value="723">
                        ВОЛГОГРАД 1грм СК
                    </option>
                                    <option value="727">
                        КЕРЧЬ АКУЛИЙ СК 1гр.
                    </option>
                                    <option value="729">
                        Мин.Воды СК 0,5
                    </option>
                                    <option value="730">
                        Пятигорск 0,5ск
                    </option>
                                    <option value="739">
                        ФЕОДОСИЯ 1г.
                    </option>
                                    <option value="745">
                        БЕЛОГОРСК КРЫМ
                    </option>
                                    <option value="750">
                        Ставрополь Кристаллы 0,5ск
                    </option>
                                    <option value="777">
                        ЯЛТА КРИСТАЛЛ 0,5ск
                    </option>
                                    <option value="790">
                        СОВЕТСКИЙ КРЫМ 0,5ск
                    </option>
                                    <option value="804">
                        ТИМАШЕВСК 0,5ск
                    </option>
                                    <option value="2147">
                        Черкесск Ск 1г.
                    </option>
                                    <option value="3251">
                        Скорость Акулий Кайф
                    </option>
                                    <option value="6518">
                        АКУЛИЙ МЕФЕДРОН!
                    </option>
                                    <option value="21725">
                        Акулий Амфетаминчик
                    </option>
                                    <option value="23382">
                        Акулий гашиш
                    </option>
                                    <option value="23509">
                        Акулий мефедрон кристалл
                    </option>
                                    <option value="26697">
                        Акулий Планчик.
                    </option>
                                    <option value="29603">
                        Акулий Ск Красный кристалл
                    </option>
                            </select>
            

            <button class="stores-filter-button d-flex align-items-center ml-1" style="height: 30px">Фильтровать</button>
            <a href="" class="btn btn-sm btn-danger ml-1" style="height: 30px">Сбросить</a>
        </div>
    </form>
    <div class="col-12 li-comment-section p-0">
                    <ul>
                                    <li class="p-1 py-sm-2 px-sm-3">
    <div class="d-flex">
        <div class="author-avatar text-center">
                            <img src="/static/images/no-img.png" width="60" height="60" alt="">
                <p class="review-operations my-0">Покупок: 40</p>
                                    <div class="rating-box d-flex justify-content-center">
                        <ul class="rating">
                            <span class="score"><span style="width: 100%"></span></span>
                        </ul>
                    </div>
                                                    </div>
        <div class="comment-body pl-20">
                                                                <div class="d-flex align-items-center justify-content-between">

                <h5 class="comment-author mb-0">KpbImTv</h5>
                <div class="d-flex align-items-center text-truncate">
                    <p class="ml-3 mb-0 text-truncate">Симферополь                             / 0.5 
                        
                    </p>
                                    </div>
            </div>
            <div class="comment-post-date">04/04/2023 в 19:03</div>
            <p class="ws-pl mb-1 review-text">Все ок) только фото жесткое))</p>
                                </div>
    </div>

    </li>

                                    <li class="p-1 py-sm-2 px-sm-3">
    <div class="d-flex">
        <div class="author-avatar text-center">
                            <img src="/static/images/no-img.png" width="60" height="60" alt="">
                <p class="review-operations my-0">Покупок: 69</p>
                                    <div class="rating-box d-flex justify-content-center">
                        <ul class="rating">
                            <span class="score"><span style="width: 100%"></span></span>
                        </ul>
                    </div>
                                                    </div>
        <div class="comment-body pl-20">
                                                                <div class="d-flex align-items-center justify-content-between">

                <h5 class="comment-author mb-0">vasilki22</h5>
                <div class="d-flex align-items-center text-truncate">
                    <p class="ml-3 mb-0 text-truncate">Невинномысск                             / 0.5 
                        
                    </p>
                                    </div>
            </div>
            <div class="comment-post-date">04/04/2023 в 17:00</div>
            <p class="ws-pl mb-1 review-text">Спасибо,оригинальная упаковка, слегка влажноват</p>
                                </div>
    </div>

    </li>

                                    <li class="p-1 py-sm-2 px-sm-3">
    <div class="d-flex">
        <div class="author-avatar text-center">
                            <img src="/static/images/no-img.png" width="60" height="60" alt="">
                <p class="review-operations my-0">Покупок: 70</p>
                                    <div class="rating-box d-flex justify-content-center">
                        <ul class="rating">
                            <span class="score"><span style="width: 100%"></span></span>
                        </ul>
                    </div>
                                                    </div>
        <div class="comment-body pl-20">
                                                                <div class="d-flex align-items-center justify-content-between">

                <h5 class="comment-author mb-0">tvoyaDevohka97</h5>
                <div class="d-flex align-items-center text-truncate">
                    <p class="ml-3 mb-0 text-truncate">Сочи                             / 0.5 
                        
                    </p>
                                    </div>
            </div>
            <div class="comment-post-date">04/04/2023 в 09:17</div>
            <p class="ws-pl mb-1 review-text">3я покупка без промаха и геморроя! 
Стафчик правда мокрый, из-за этого вес страдает, ну и сложности в употребление. 
В целом все хорошо, спасибо.</p>
                                </div>
    </div>

    </li>

                                    <li class="p-1 py-sm-2 px-sm-3">
    <div class="d-flex">
        <div class="author-avatar text-center">
                            <img src="./top_store_reviews_files/1sfjoUrTf6CoYlKJjShs9AipO9GMBRlSirehBDX1.jpg" width="60" height="60" alt="">
                <p class="review-operations my-0">Покупок: 17</p>
                                    <div class="rating-box d-flex justify-content-center">
                        <ul class="rating">
                            <span class="score"><span style="width: 100%"></span></span>
                        </ul>
                    </div>
                                                    </div>
        <div class="comment-body pl-20">
                                                                <div class="d-flex align-items-center justify-content-between">

                <h5 class="comment-author mb-0">MeoW_for_MeoW</h5>
                <div class="d-flex align-items-center text-truncate">
                    <p class="ml-3 mb-0 text-truncate">Симферополь                             / 1 
                        
                    </p>
                                    </div>
            </div>
            <div class="comment-post-date">04/04/2023 в 08:06</div>
            <p class="ws-pl mb-1 review-text">Все отлично 👌 качество и вес вышка 🤘 от души 💜</p>
                                </div>
    </div>

    </li>

                                    <li class="p-1 py-sm-2 px-sm-3">
    <div class="d-flex">
        <div class="author-avatar text-center">
                            <img src="/static/images/no-img.png" width="60" height="60" alt="">
                <p class="review-operations my-0">Покупок: 3</p>
                                    <div class="rating-box d-flex justify-content-center">
                        <ul class="rating">
                            <span class="score"><span style="width: 100%"></span></span>
                        </ul>
                    </div>
                                                    </div>
        <div class="comment-body pl-20">
                                                                <div class="d-flex align-items-center justify-content-between">

                <h5 class="comment-author mb-0">dasmas</h5>
                <div class="d-flex align-items-center text-truncate">
                    <p class="ml-3 mb-0 text-truncate">Невинномысск                             / 0.5 
                        
                    </p>
                                    </div>
            </div>
            <div class="comment-post-date">04/04/2023 в 06:22</div>
            <p class="ws-pl mb-1 review-text">Диспут закрываю фото пришлось удалить . Короче самка срезала потому как  клады на верхах  их видно!</p>
                            <em class="comment-post-date">Дополнено спустя 2 мин.</em>
                <p class="ws-pl mb-0 review-text">И вообще чайки гаситесь есле кого увижу на локации ноги руки переломах!</p>
                                </div>
    </div>

    </li>

                                    <li class="p-1 py-sm-2 px-sm-3">
    <div class="d-flex">
        <div class="author-avatar text-center">
                            <img src="/static/images/no-img.png" width="60" height="60" alt="">
                <p class="review-operations my-0">Покупок: 40</p>
                                    <div class="rating-box d-flex justify-content-center">
                        <ul class="rating">
                            <span class="score"><span style="width: 100%"></span></span>
                        </ul>
                    </div>
                                                    </div>
        <div class="comment-body pl-20">
                                                                <div class="d-flex align-items-center justify-content-between">

                <h5 class="comment-author mb-0">olegtr37777</h5>
                <div class="d-flex align-items-center text-truncate">
                    <p class="ml-3 mb-0 text-truncate">Волгоград                             / 2 
                        
                    </p>
                                    </div>
            </div>
            <div class="comment-post-date">04/04/2023 в 01:46</div>
            <p class="ws-pl mb-1 review-text">Точно в цель! Вес соответствует, качество без слов!</p>
                                </div>
    </div>

    </li>

                                    <li class="p-1 py-sm-2 px-sm-3">
    <div class="d-flex">
        <div class="author-avatar text-center">
                            <img src="./top_store_reviews_files/PKsN5VUhJ4EAvN9UWnCOGImGU922c0B86UXxXqp5.jpg" width="60" height="60" alt="">
                <p class="review-operations my-0">Покупок: 60</p>
                                    <div class="rating-box d-flex justify-content-center">
                        <ul class="rating">
                            <span class="score"><span style="width: 100%"></span></span>
                        </ul>
                    </div>
                                                    </div>
        <div class="comment-body pl-20">
                                                                <div class="d-flex align-items-center justify-content-between">

                <h5 class="comment-author mb-0">GrOZa098</h5>
                <div class="d-flex align-items-center text-truncate">
                    <p class="ml-3 mb-0 text-truncate">Симферополь                             / 0.5 
                        
                    </p>
                                    </div>
            </div>
            <div class="comment-post-date">04/04/2023 в 00:47</div>
            <p class="ws-pl mb-1 review-text">Доброй ночи, долго думала брать или нет всеже решилась 1)локация 10👍2)качество 10👍 не мука 3) количество меньше на одну третью. 7+4)фото ужасны €9 ;</p>
                                </div>
    </div>

    </li>

                                    <li class="p-1 py-sm-2 px-sm-3">
    <div class="d-flex">
        <div class="author-avatar text-center">
                            <img src="/static/images/no-img.png" width="60" height="60" alt="">
                <p class="review-operations my-0">Покупок: 8</p>
                                    <div class="rating-box d-flex justify-content-center">
                        <ul class="rating">
                            <span class="score"><span style="width: 100%"></span></span>
                        </ul>
                    </div>
                                                    </div>
        <div class="comment-body pl-20">
                                                                <div class="d-flex align-items-center justify-content-between">

                <h5 class="comment-author mb-0">Qqqwwweee125qqq</h5>
                <div class="d-flex align-items-center text-truncate">
                    <p class="ml-3 mb-0 text-truncate">Невинномысск                             / 0.5 
                        
                    </p>
                                    </div>
            </div>
            <div class="comment-post-date">03/04/2023 в 23:56</div>
            <p class="ws-pl mb-1 review-text">ok</p>
                                </div>
    </div>

    </li>

                                    <li class="p-1 py-sm-2 px-sm-3">
    <div class="d-flex">
        <div class="author-avatar text-center">
                            <img src="/static/images/no-img.png" width="60" height="60" alt="">
                <p class="review-operations my-0">Покупок: 62</p>
                                    <div class="rating-box d-flex justify-content-center">
                        <ul class="rating">
                            <span class="score"><span style="width: 100%"></span></span>
                        </ul>
                    </div>
                                                    </div>
        <div class="comment-body pl-20">
                                                                <div class="d-flex align-items-center justify-content-between">

                <h5 class="comment-author mb-0">Мявыч</h5>
                <div class="d-flex align-items-center text-truncate">
                    <p class="ml-3 mb-0 text-truncate">Волгоград                             / 2 
                        
                    </p>
                                    </div>
            </div>
            <div class="comment-post-date">03/04/2023 в 21:10</div>
            <p class="ws-pl mb-1 review-text">Все круто, цена - кач топ</p>
                                </div>
    </div>

    </li>

                                    <li class="p-1 py-sm-2 px-sm-3">
    <div class="d-flex">
        <div class="author-avatar text-center">
                            <img src="./top_store_reviews_files/hmQ3weU89ToH8ctavwNgaePqSEB6ZxUnjCru7AXl.jpg" width="60" height="60" alt="">
                <p class="review-operations my-0">Покупок: 11</p>
                                    <div class="rating-box d-flex justify-content-center">
                        <ul class="rating">
                            <span class="score"><span style="width: 100%"></span></span>
                        </ul>
                    </div>
                                                    </div>
        <div class="comment-body pl-20">
                                                                <div class="d-flex align-items-center justify-content-between">

                <h5 class="comment-author mb-0">egor938</h5>
                <div class="d-flex align-items-center text-truncate">
                    <p class="ml-3 mb-0 text-truncate">Волгоград                             / 2 
                        
                    </p>
                                    </div>
            </div>
            <div class="comment-post-date">03/04/2023 в 20:19</div>
            <p class="ws-pl mb-1 review-text">Спасибо все, хорошо, но пришлось помучиться чтобы найти а также пришлось понервничать, потому что очень глубоко в поле очень долго ехали без машины не добраться</p>
                                </div>
    </div>

    </li>

                            </ul>
            </div>

    <div class="mt-2">
        <div class="paginatoin-area">

</div>

    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
            </div>

            
        </div>

            <!-- Yandex.Metrika counter -->
		<script async="" src="./top_store_reviews_files/tag.js"></script><script type="text/javascript">
		   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
		   m[i].l=1*new Date();
		   for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
		   k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
		   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

		   ym(92704878, "init", {
				clickmap:true,
				trackLinks:true,
				accurateTrackBounce:true,
				webvisor:true
		   });
		</script>
		<noscript><div><img src="https://mc.yandex.ru/watch/92704878" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
		<!-- /Yandex.Metrika counter -->

{% endautoescape %}
</body></html>
