<div class="single-product-big-wrap w-100 mb-3 p-1">
    <div style="align-self: start; position:relative;">
        <a href="https://vdb.bsbot.ltd/products/3251" style="color: #fd9638">

            <img class="product-big-image" src="" alt="Product Image">
        </a>
    </div>
    <div class="product_desc mt-2 product-big-content">
        <div class="d-flex justify-content-between w-100 flex-column">
            <div class="d-flex align-items-center mb-1">
                <span class="mb-0 text-truncate pr-2 card-product-name" title="Скорость Акулий Кайф" style="flex:1">
                    <a href="https://vdb.bsbot.ltd/products/3251" class="card-product-name"> Скорость Акулий Кайф </a>
                </span>
                <div class="">
                    <div class="volume_svg">
                            <span class="ttip">
                                <img width="20px" src="https://vdb.bsbot.ltd/images/box.svg" alt="Миниопт">
                                <span class="tooltiptext">
                                    Миниопт
                                </span>
                            </span>
                    </div>
                </div>
                <img width="13px" src="https://vdb.bsbot.ltd/images/crown.svg" alt="" class="mr-1">
                <a href="https://vdb.bsbot.ltd/stores/20">
                    🦈AKYLOV SHOP🦈
                </a>
            </div>

            <div>
                <p class="small clamped-text mb-1"></p>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="pl-3" style="flex:1">
                                    <span class="small clamped-text mb-1 mb-sm-0">
                        <svg width="12px" fill="#a4a4a4" enable-background="new 0 0 395.71 395.71" version="1.1"
                             viewBox="0 0 395.71 395.71" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                            <path d="m197.85 0c-75.718 0-137.32 61.609-137.32 137.33 0 72.887 124.59 243.18 129.9 250.39l4.951 6.738c0.579 0.792 1.501 1.255 2.471 1.255 0.985 0 1.901-0.463 2.486-1.255l4.948-6.738c5.308-7.211 129.9-177.5 129.9-250.39 0-75.72-61.61-137.33-137.33-137.33zm0 88.138c27.13 0 49.191 22.062 49.191 49.191 0 27.115-22.062 49.191-49.191 49.191-27.114 0-49.191-22.076-49.191-49.191 0-27.129 22.076-49.191 49.191-49.191z"></path>
                        </svg>Астрахань, Волгоград, Севастополь, Симферополь, Сочи, Ялта, Санкт-Петербург, Невинномысск, Черкесск, Ставрополь, Москва, Старый Оскол, Железноводск, Михайловск (Ставропольский край)
                    </span>
            </div>
            <div class="price-card px-2">
                <div class="price-line d-flex justify-content-around align-items-center px-2 py-0">
                        <span class="new-price mr-4">от <strong>2600 ₽</strong> /
                            1
                            г
                        </span>
                    <div class="d-flex align-items-center" title="4.64 из 5 на основании 2.1k отзывов">
                        <span class="score"><span style="width: 92.8%"></span></span>
                        <p class="small ml-1 mb-0" style="margin-top: 3px;line-height: 21px;">
                            (2.1k)
                        </p>
                    </div>

                </div>


            </div>
        </div>

        <div class="mt-2">
            <p class="small clamped-text-4 mb-0">Акулья скорость!
                Мощные белые кристаллы имеют 97,8% степени отчистки;
                Эффекты: Альфа-PVP повышает физическую и психологическую активность. У вас появляется куча энергии,
                отсутствует способность спокойно стоять на месте. Обостряется тактильность, зрение становится острым,
                расфокусированным. Повышается сексуальное возбуждение и обостренная реакция на прикосновения. Пропадает
                аппетит, учащается пульс и повышается давление. Появляется ускорение мыслительного процесса, которое
                сменяется затормаживанием. Вы испытываете чувство безудержного счастья и веселья. Многократно повышается
                концентрация внимания. Вы откроете для себя новые грани себя и своих возможностей, проявите максимальную
                идейность и креативность, а главное получите сумасшедшую стимуляцию, которая пробивает любой толер.
                Альфа подходит для:- Употребление в компании друзей. Снимает все социальные барьеры и позволяет ощутить
                близость и единство с окружающими.
                - Работы. Новый скачок в плане энергии, такой продуктивности Вы еще не испытывали!
                - Повседневности.

                Надежные адреса по сногсшибательной цене ТОЛЬКО У НАС!</p>
        </div>
    </div>
</div>