{% include "header.html" %} {% autoescape off %}

{% include "account_asset.html" %}


<div class="col-12 col-md-10 mt-3 mt-sm-0">
    <ul class="list-group">
        <li class="list-group-item">
            <strong>Магазин:
            </strong><a href="">
            {{cur_order.store}}
        </a>
        </li>
        <li class="list-group-item">
            <strong>Название товара:
            </strong>{{cur_order.item}}
        </li>
        <li class="list-group-item">
            <strong>Диспут по закладке
                #{{cur_order.num_order}}:
            </strong>
            Диспут по заказу #...
        </li>
        <li class="list-group-item">
            диспута
            {{cur_order.time}}
        </li>
    </ul>

    <form action="{% url 'dispute_window' num dispute_num %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="_token" value="5CVgmHDlvoLvFFzxPy4hmoG8t1nglSWYMAJzAL7U">
        <input name="action" value="Пригласить модератора" type="submit"
               class="btn btn-sm btn-info mt-2">
        <input name="action" value="Закрыть диспут" type="submit"
               class="btn btn-sm btn-danger mt-2 px-4">
        <p class="small mb-0"><i>Закрывая диспут, Вы закрываете сделку, средства отправляются
            продавцу.</i>
        </p>
    </form>

    <hr class="my-3">
    <div class="messages-container custom-scrollbar">
        <div>
            <strong>Система</strong>
            <div class="alert alert-secondary" role="alert">
                <span class="font-italic" style="white-space:pre-line;">Пользователь открыл диспут по закладке #{{cur_order.num_order}}</span>
                <p class="mb-2">
                    <span class="float-right">{{cur_order.time}}</span>
                </p>
                <div class="text-muted">
                    <small>Отправлено 3 минуты назад</small>
                </div>
            </div>
        </div>
    </div>
    {% for i in dispute_dialogs reversed %}
    {% if i.user_text %}

    <div class="messages-container custom-scrollbar">
        <div>
            <strong>{{i.user_login}}</strong>
            <div class="alert alert-secondary" role="alert">
                <span class="font-italic" style="white-space:pre-line;">{{i.user_text}}</span>
                <p class="mb-2">
                    <span class="float-right">{{i.date}}</span>
                </p>
                <div class="text-muted">
                    <small>Отправлено 3 минуты назад</small>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% if i.admin_text %}
    <div class="messages-container custom-scrollbar">
        <div>
            <strong>{{i.admin_name}}}</strong>
            <div class="alert alert-secondary" role="alert">
                <span class="font-italic" style="white-space:pre-line;">{{i.admin_text}}}</span>
                <p class="mb-2">
                    <span class="float-right">{{i.admin_date}}</span>
                </p>
                <div class="text-muted">
                    <small>Отправлено</small>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}


    <form action="{% url 'dispute_window' num dispute_num %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="_token" value="5CVgmHDlvoLvFFzxPy4hmoG8t1nglSWYMAJzAL7U">
        <textarea id="message-input" rows="3" name="message" placeholder="Ваше сообщение"
                  class="mb-3 mt-2"></textarea>
        <input name="action" value="Отправить" type="submit" class="button custom-btn__black px-5">
    </form>

    <div class="paginatoin-area">
        <div class="row">
            <div class="col-md-4">
                <p>Результаты 1-1 из 1</p>
            </div>
            <div class="col-md-8">
            </div>
        </div>
    </div>


</div>
</div>


</div>
</div>
</div>
</div>
</div>

</div>


{% endautoescape %}{% include "footer.html" %}
